html
{
    height: 100%;
}
body
{
    height: 100;
    margin:0;
    padding:0;
    background:url('back.jpg') center no-repeat fixed;
    background-size:cover;
    opacity: 1;
    user-select: none;
    
}

button,button:active
{
    height:35px;
    width:170px;
    border-radius: 10px;
    border:none;
    font-weight: bold;
    transition:all 300ms ease-in-out;
}
button:hover
{
    
    transform:translate(1px,1px);
}
ul
{
    list-style-type: none;
    margin:0;
    padding:0;

}

h1
{
    text-align: center;
    color: #252d4e;
    font-size: 50px;
    margin-top:100px;
}
#narrow
{
  background-color:  #8076a3;
  position: relative;
  left:43.7%;
  margin-top: 5px;
}
#list
{
    background-color:#e1b382 ;
    
}

input
{
    width:500px;
    height:30px;


}
.container
{
    position:relative;
    opacity: 1;
    width:80%;
    margin:5%;
    padding:5%;
    color: black;
    font-weight: bold;
    background-color: rgba(233, 223, 223,0.6);
    z-index:1;
}
#search
{
    position: relative;
    left:30%;
}
.items
{
    position: relative;
    left:5%;
    height:80%;
    margin-top:50px;
    overflow:auto;
    width:100%;
    
}
.items li
{  position: relative;
   margin:0;
   width:100%;
   height:50px;
  
}

.items button
{
    position: absolute;
    right:2px;
    
    
}
.items li::before
{
    content:"";
    display:block;
    height:10%;
}
.error
{
    font-size:48px;
    color: #ad1825;
    font-weight: bold;
    text-align: center;
}